extends layout

block content
	script(src="javascript/form.js")

	h1(style="text-align:center;")= "Welcome to employees fetch API"
	
	form(action="/employees", method="get")
		h3(class="text-center")= "Start typing employee firstname"
		div(class="form-group")
			input(	type="text", 
					id="firstname", 
					placeholder="Firstname goes here...", 
					class="form-control text-center", 
					style="width:60%;margin:0 auto;")
	br
	br
		
	div(id="result")
		
				